<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool Sh*t</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index-style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
  </style>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">(: Home</a>
    <nav class="nav-items">
      <!-- <a href="/speech-to-email">Speech To Email 🗣️📧</a> -->
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>Ai things for if you are LAZY:</h1>
      <a href="/speech-to-email" class="image-button">Speech To Email</a>
    </div>
  </main>
  <!-- <footer class="footer">
    <div class="copy">&copy; 2024 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer> -->
</body>

</html>