<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI stuff</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
    </style>
</head>
<body>
     <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">These</a>
        <a href="#">Do</a>
        <a href="#">Nothing</a>
        <a href="/speech-to-email">Except This One</a>
      </div>
      <button class="openbtn" onclick="openNav()">☰</button>
      
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>



